/* ------------------ BACKGRONDS -------------- */

.bg-custom {
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center center;
}

.bg-clean {
  background: #00000047;
}

/* ------------------ COLORS ------------------- */

.cl-vinho {
  color: #760e07;
}
