/* ------------------ Fonts ------------------- */

.font-mont {
  font-family: "Montserrat", sans-serif;
}

/* ------------------ BACKGRONDS -------------- */

.bg-custom {
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center center;
}

.bg-clean {
  background: #ffffff47;
}

/* ------------------ COLORS ------------------- */

.cl-vinho {
  color: #760e07;
}
